a {
    text-decoration: none;
    color: inherit;
  }

  
/* Header */
.header {
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 80px;
  margin-top: 0;
}

.nav li {
  color: white;
}

.nav li:hover {
  color: turquoise;
}
/* Header */


/* home */
.product_container {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* home */


/* SingleProduct */
.products {
  width: 25%;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.product_desc {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
/* SingleProduct */